@media (max-width: 390px) {
    .nav_sm {
        width: 2rem;
        margin-left: 1.3rem;
        margin-right: 1.3rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .nav_chat {
        width: 1.75rem;
        margin-left: 1.3rem;
        margin-right: 1.3rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
  }