
/*프로필 수정 버튼*/
.profile{

    border-radius: 50px;
    font-size: 0.5rem;
    font-weight: bolder;
    background-Color: rgb(239, 184, 44); 
    height:2rem;
    width:5rem;
}
/*키워드 폰트*/
.keyword {
    padding-top: 0.4rem;
    font-size:0.7rem;
}